version: '3.8'
services:
  postgres:
    container_name: postgres
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movieflix
    ports:
      - "5432:5432"

